body {
	background-color: #60AE2B;
	margin: 0px;
	padding: 0px;
}

#left {
	background-color: #60AE2B;
	width: 420px;
	height: 100%;
	position: absolute;
	z-index: 1000;
}

#right {
	background-color: #60AE2B;
	width: 420px;
	height: 100%;
	position: absolute;
	left: 1040px;
	z-index: 1000;
}

#content {
	background-color: #FFF;
	margin-left: 420px;
	width: 620px;
	height: 100%;
	border: 1px solid #666666;
}

#content #voiceInput{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #FFF;
	background-color: #F06AA7;
	display: inline-block;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	top: 50px;
	z-index: 900;
}

#content #resultsCount{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	background-color: #F06AA7;
	display: inline-block;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	top: 50px;
	left: -1px;
	z-index: 900;
	opacity: 0;
}

#content #header {
	width: 620px;
	height: 50px;
}

#content #header #homeBtn {
	padding-top: 28px;
	padding-left: 35px;
	float:left;
}

#content #header #micBtn {
	padding-top: 14px;
	padding-left: 195px;
	display: inline-block;
}

#content #header #cartBtn {
	padding-top: 14px;
	padding-right: 35px;
	float:right;
}

#content #waves {
	margin-left: -1260px;
	mix-blend-mode: multiply;
}

#content #waves #line {
	vertical-align: top;
	margin-left: 620px;
	display: inline-block;
}

#content #waves #wave {
	vertical-align: top;
	margin-top: -49px;
	display: inline-block;
}

#results {
	background: url(/assets/imgs/productsBG.svg) repeat-y top;
	height: 580px;
	position: relative;
	top: -65px;
	overflow-y: scroll;
	mix-blend-mode: multiply;
}

#results #products {
	position: relative;
	top: 50px;
}

#results #products .resultTitle {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #FFF;
	background-color: #575757;
	display: inline-block;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
}