<!DOCTYPE html>
<meta charset="utf-8">
<title>MasterChef</title>

<body>
	<div id="results" style="margin: 0 auto; width:50%; text-align:center; width:500px">
		<div id="tags"></div>
		<div class="list-group">
		</div>
	</div>
</body>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script>

var actions = ["hola", "solo tengo", "listo", "nueva lista"];
var commands = [];
var transcript = null;

var recognition = new webkitSpeechRecognition();
recognition.lang = "es-CO";
recognition.continuous = true;
recognition.interimResults = true;

recognition.onaudiostart = function() {
	console.log("onaudiostart: " + event);
}

recognition.onsoundstart = function() {
	console.log("onsoundstart: " + event);
}

recognition.onspeechstart = function() {
	console.log("onspeechstart: " + event);
}

recognition.onspeechend = function() {
	console.log("onspeechend: " + event);
}

recognition.onsoundend = function() {
	console.log("onsoundend: " + event);
}

recognition.onaudioend = function() {
	console.log("onaudioend: " + event);
}

recognition.onnomatch = function() {
	console.log("onnomatch: " + event);
}

recognition.onstart = function() {
	console.log("onstart: " + event);
}

recognition.onerror = function(event) {
	console.log("error: " + event);
}

recognition.onend = function(event) {
	
	console.log("onend: " + event);

	recognition.start();

}

recognition.onresult = function(event) {

	for(var i = event.resultIndex; i < event.results.length; ++i){

	  	if(!event.results[i].isFinal){
			transcript = event.results[i][0];
		}

	}

	transcript.transcript = transcript.transcript.trim();

	console.log("		> " + transcript.transcript);

	if(transcript.transcript.indexOf("listo") > -1
		|| transcript.transcript.indexOf("dale") > -1){

		if(commands.length > 0){
			query(commands);
		}

		commands = [];

	}else if(transcript.transcript.indexOf("nueva") > -1
		|| transcript.transcript.indexOf("nuevo") > -1){

		$("#results").find("#tags").html("");
		$("#results").find(".list-group").html("");

		commands = [];

	}else if(transcript.confidence > 0.6){

		if($.inArray(transcript.transcript, commands) == -1){
				
			console.log("		> " + transcript.transcript);

			commands.push(transcript.transcript);

			updateCommandsField();

		}

	}

}

recognition.start();

function updateCommandsField(){

	$("#results").find("#tags").html("");

	for(var i = 0; i < commands.length; i++){
		$("#results").find("#tags").append("<h3><span class=\"label label-default\">" + commands[i] + "</span></h3>");
	}

}

function query(commands){

	$.ajax({
		type: "GET",
		url: '/search',
		data: {"query" : commands.toString()},
		success: queryResponse
	});

}

function queryResponse(results){

	console.log(results);

	$("#results").find(".list-group").html("");

	for(var i = 0; i < results.length; i++){
		$("#results").find(".list-group").append("<a href=\"#\" class=\"list-group-item\">" + results[i].title + "</li>");
	}

}

</script>